@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

html, body {
  overflow-x: hidden;
}

::selection {
  background: #000;
  color: #fff;
}

/**
 * Theming
 * */
:root {
  --gray-2: #B1B1B1;
  --ifm-color-primary: #ff3366;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'DM Sans', sans-serif;
  --xxs: 0px;
  --xs: 475px;
  --sm: 600px;
  --md: 920px;
  --lg: 1280px;
}


/**
 * Footer
 * */
.footer--dark {
  --ifm-footer-background-color: #000;
}

.footer__copyright {
  margin-top: 56px;
}

/*
 * Navbar
 * **/
@media only screen and (max-width: 995px) {
  .navbar__items {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

/**
 * Demos
 */

.playground {
  padding: 42px;
  border: solid 1px var(--gray-2);
  border-radius: 6px;
}

.placeholder {
  border: solid 2px #ff3366;
  background: #ff336630;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  border-radius: 6px;
  color: #ff3366;
  font-size: 18px;
  font-weight: 600;
  padding: 32px;
}
