.hero--title {
  color: #000;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.07em;
}

.hero--text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.04em;

  color: #4d4d4d;
}

/*
 * About
 * */
.about {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 124px;
}

.about--item{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  padding: 0 32px;
}

.about--item:nth-child(1) {
  margin-right: 272px;
}

.about--row {
  display: flex;
  margin-bottom: 72px;
}

.about--item > img {
  width: 46px;
  margin-bottom: 18px;
}

.about--item > h2 {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  text-align: center;
}

.about--item > p {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: var(--gray-2);
  text-align: center;
}

@media only screen and (min-width: 0px) {
  .hero {
    position: relative;
    padding: 124px 32px;
  }

  .hero--image {
    display: none;
  }

  #lines-1 {
    top: 42px;
    left: -32px;
    position: absolute;
  }

  #lines-2 {
    bottom: 0px;
    right: -32px;
    position: absolute;
  }

  #square-1 {
    position: absolute;
    bottom: 32px;
    left: 56px;
  }

  #circle-1 {
    position: absolute;
    bottom: 16px;
    left: 124px;
  }

  #square-2 {
    position: absolute;
    top: 72px;
    right: 92px;
  }

  #circle-2 {
    position: absolute;
    top: 56px;
    right: 56px;
  }
}

@media only screen and (min-width: 600px) {
  .hero {
    padding: 132px 42px;
  }
}

@media only screen and (min-width: 920px) {
  .hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hero--image {
    display: block;
  }

  .hero--title-container {
    flex-basis: 50%;
    z-index: 10;
  }

  #lines-1 {
    top: 72px;
    left: -24px;
    position: absolute;
  }

  #lines-2 {
    bottom: -56px;
    right: -16px;
    position: absolute;
  }

  #square-1 {
    position: absolute;
    bottom: 56px;
    left: 92px;
  }

  #circle-1 {
    position: absolute;
    bottom: 32px;
    left: 150px;
  }

  #square-2 {
    position: absolute;
    top: 72px;
    right: 200px;
  }

  #circle-2 {
    position: absolute;
    top: 56px;
    right: 250px;
  }
}
