.wrapper {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 92px 0;
}

.hero--image {
  display: flex;
  justify-content: center;
  flex-basis: 40%;
}

.hero--title-container {
  flex-basis: 60%;
}

.hero--title {
  color: #000;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.07em;
}

.hero--text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.04em;

  color: #4D4D4D;
}



@media only screen and (max-width: 1280px) {
  .hero {
    padding: 92px 56px;
  }
}


@media only screen and (max-width: 920px) {
  .hero {
    flex-direction: column;
    position: relative;
    padding: 92px 42px;
  }

  .hero--title-container {
    flex-basis: 100%;
    z-index: 10;
  }

  .hero--image {
    width: 350px;
    position: absolute;
    bottom: -150px;
    right: -72px;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    flex-direction: column;
    position: relative;
    padding: 92px 32px;
  }
}

